
   *{
          margin: 0;
          padding: 0;
          font-family: 'Roboto Slab', serif;
      }
      .Main{
          grid-column: 1 /  2;
          position: relative;
          height: 100vh;
          background: #0a1c2a;
      }
      
      .logo{
          width: 30%;
      }
      
      nav{
          font-family: 'Roboto Slab', serif;
          font-size: 20px;
          display: flex;
          width: 84%;
          margin: auto;
          padding: 20px 0;
          align-items: center;
          justify-content: space-between;
      }
      
      .mypic{
          grid-column: 1 / span 2;
          margin-left: 40%;
      }
      
      .detail{
          grid-column: 1 / span 2;
          color: #ffa600;
          font-family: 'Roboto Slab', serif;
          margin-left: 8%;
          margin-top: 12%;
      }
      
      .detail h1{
          font-size: 50px;  
      }
      .detail h2{
          font-size: 30px;  
      }
      
      .detail p{
          color: #ffc558;
      }
      
      .mypic{
          opacity: 95%;
          position: absolute;
          bottom: 0;
      }
      
      .about{
          background: #a37726;
          padding: 50px 0px;
      }
      
      
      .education{
         margin-left: 10%;
      }
      
      .about h3{
          font-size: 50px;
      }
      
      .about-text{
          grid-column: 1 / span 2;
          color: #0a1c2a;
          font-family: 'Roboto Slab', serif;
          font-size: 20px;
          margin-left: 5%;
      }
      
      .container1{
          max-width: 95%;
          margin: 5 auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
      }
      
      .work-link{
          position: relative;
          font-family: 'Roboto Slab', serif;
          background: #0a1c2a;
          padding: 50px 0px;
          color: #ffa600;
      }
      
      .work-link {
          text-align: center;
          font-size: 50px;
      }
      
      .work-link span{
          font-size: 30px;
      }
      
      .work-link img {
         grid-column: 1 / span 2;
      
      }
      
      .skills{
          font-family: 'Roboto Slab', serif;
          background: #0a1c2a;
          padding: 50px 0px;
          color: #ffa600;
      }
      
      .skills h5{
          font-size: 50px;
          text-align: center;
      }
      
      .box{
          margin-right: 2%;
          grid-column: 1 / span 1;
          padding-left: 25%;
          padding-top: 2%;
      }
      
      .assignment-link{
          font-family: 'Roboto Slab', serif;
          background: #a37726;
          padding: 50px 0px;
          font-size: 20px;
          text-align: center;
      }
      
      .assignment-link h6{
          font-size: 40px;
          color: #0a1c2a;
      }
      
      .assignment-link span{
          font-size: 40px;
          color: #232b31;
      }
      
      .assignment-link span{
          font-size: 40px;
          color: #232b31;
      }
      
      .assignment-link a{
          color: #311926;
      }
      
      .contact-ect{
          background: #0a1c2a;
          padding: 50px 0px;
          text-align: center;
      }
      
      .contact-ect h7{
          font-size: 30px;
          color: #ffa600;
          text-align: center;
      }
      
      .contact-ect li a{
          font-size: 20px;
          color: #ffa600;
      }
      
      .contact-ect a{
          font-size: 20px;
          color: #ffc558;
      }

@media only screen and (max-width: 2564px){
  *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto Slab', serif;
    }
    .Main{
        grid-column: 1 /  2;
        position: relative;
        height: 90vh;
        background: #0a1c2a;
    }
    
    .logo{
        width: 30%;
    }
    
    nav{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        display: flex;
        width: 84%;
        margin: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
    }
    
    .mypic{
        grid-column: 1 / span 2;
        margin-left: 40%;
    }
    
    .detail{
        grid-column: 1 / span 2;
        color: #ffa600;
        font-family: 'Roboto Slab', serif;
        margin-left: 8%;
        margin-top: 12%;
    }
    
    .detail h1{
        font-size: 50px;  
    }
    .detail h2{
        font-size: 30px;  
    }
    
    .detail p{
        color: #ffc558;
    }
    
    .mypic{
        opacity: 95%;
        position: absolute;
        bottom: 0;
    }
    
    .about{
        background: #a37726;
        padding: 50px 0px;
    }
    
    
    .education{
       margin-left: 10%;
    }
    
    .about h3{
        font-size: 50px;
    }
    
    .about-text{
        grid-column: 1 / span 2;
        color: #0a1c2a;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        margin-left: 5%;
    }
    
    .container1{
        max-width: 95%;
        margin: 5 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .work-link{
        position: relative;
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .work-link {
        text-align: center;
        font-size: 50px;
    }
    
    .work-link span{
        font-size: 30px;
    }
    
    .work-link img {
       grid-column: 1 / span 2;
    
    }
    
    .skills{
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .skills h5{
        font-size: 50px;
        text-align: center;
    }
    
    .box{
        margin-right: 2%;
        grid-column: 1 / span 1;
        padding-left: 25%;
        padding-top: 2%;
    }
    
    .assignment-link{
        font-family: 'Roboto Slab', serif;
        background: #a37726;
        padding: 50px 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .assignment-link h6{
        font-size: 40px;
        color: #0a1c2a;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link a{
        color: #311926;
    }
    
    .contact-ect{
        background: #0a1c2a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .contact-ect h7{
        font-size: 30px;
        color: #ffa600;
        text-align: center;
    }
    
    .contact-ect li a{
        font-size: 20px;
        color: #ffa600;
    }
    
    .contact-ect a{
        font-size: 20px;
        color: #ffc558;
    }
}

@media only screen and (max-width: 1524px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto Slab', serif;
    }
    .Main{
        grid-column: 1 /  2;
        position: relative;
        width: 100%;
        height: 90vh;
        background: #0a1c2a;
    }
    
    .logo{
        width: 30%;
    }
    
    nav{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        display: flex;
        width: 84%;
        margin: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
    }
    
    .mypic{
        grid-column: 1 / span 2;
        margin-left: 40%;
    }
    
    .detail{
        grid-column: 1 / span 2;
        color: #ffa600;
        font-family: 'Roboto Slab', serif;
        margin-left: 8%;
        margin-top: 12%;
    }
    
    .detail h1{
        font-size: 50px;  
    }
    .detail h2{
        font-size: 30px;  
    }
    
    .detail p{
        color: #ffc558;
    }
    
    .mypic{
        opacity: 95%;
        position: absolute;
        bottom: 0;
    }
    
    .about{
        background: #a37726;
        padding: 50px 0px;
    }
    
    
    .education{
       margin-left: 10%;
    }
    
    .about h3{
        font-size: 50px;
    }
    
    .about-text{
        grid-column: 1 / span 2;
        color: #0a1c2a;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        margin-left: 5%;
    }
    
    .container1{
        max-width: 95%;
        margin: 5 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .work-link{
        position: relative;
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .work-link {
        text-align: center;
        font-size: 50px;
    }
    
    .work-link span{
        font-size: 30px;
    }
    
    .work-link img {
       grid-column: 1 / span 2;
    
    }
    
    .skills{
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .skills h5{
        font-size: 50px;
        text-align: center;
    }
    
    .box{
        margin-right: 2%;
        grid-column: 1 / span 1;
        padding-left: 23%;
        padding-top: 2%;
    }
    
    .assignment-link{
        font-family: 'Roboto Slab', serif;
        background: #a37726;
        padding: 50px 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .assignment-link h6{
        font-size: 40px;
        color: #0a1c2a;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link a{
        color: #311926;
    }
    
    .contact-ect{
        background: #0a1c2a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .contact-ect h7{
        font-size: 30px;
        color: #ffa600;
        text-align: center;
    }
    
    .contact-ect li a{
        font-size: 20px;
        color: #ffa600;
    }
    
    .contact-ect a{
        font-size: 20px;
        color: #ffc558;
    }
    }
@media only screen and (max-width: 1024px){
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.Main{
    grid-column: 1 /  2;
    position: relative;
    width: 100%;
    height: 60vh;
    background: #0a1c2a;
}

.logo{
    width: 30%;
}

nav{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.mypic{
    grid-column: 1 / span 2;
    margin-left: 40%;
}

.detail{
    grid-column: 1 / span 2;
    color: #ffa600;
    font-family: 'Roboto Slab', serif;
    margin-left: 8%;
    margin-top: 12%;
}

.detail h1{
    font-size: 50px;  
}
.detail h2{
    font-size: 30px;  
}

.detail p{
    color: #ffc558;
}

.mypic{
    opacity: 95%;
    position: absolute;
    bottom: 0;
}

.about{
    background: #a37726;
    padding: 50px 0px;
}


.education{
   margin-left: 10%;
}

.about h3{
    font-size: 50px;
}

.about-text{
    grid-column: 1 / span 2;
    color: #0a1c2a;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-left: 5%;
}

.container1{
    max-width: 95%;
    margin: 5 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-link{
    position: relative;
    font-family: 'Roboto Slab', serif;
    background: #0a1c2a;
    padding: 50px 0px;
    color: #ffa600;
}

.work-link {
    text-align: center;
    font-size: 50px;
}

.work-link span{
    font-size: 30px;
}

.work-link img {
   grid-column: 1 / span 2;

}

.skills{
    font-family: 'Roboto Slab', serif;
    background: #0a1c2a;
    padding: 50px 0px;
    color: #ffa600;
}

.skills h5{
    font-size: 50px;
    text-align: center;
}

.box{
    margin-right: 2%;
    grid-column: 1 / span 1;
    padding-left: 15%;
    padding-top: 2%;
}

.assignment-link{
    font-family: 'Roboto Slab', serif;
    background: #a37726;
    padding: 50px 0px;
    font-size: 20px;
    text-align: center;
}

.assignment-link h6{
    font-size: 40px;
    color: #0a1c2a;
}

.assignment-link span{
    font-size: 40px;
    color: #232b31;
}

.assignment-link span{
    font-size: 40px;
    color: #232b31;
}

.assignment-link a{
    color: #311926;
}

.contact-ect{
    background: #0a1c2a;
    padding: 50px 0px;
    text-align: center;
}

.contact-ect h7{
    font-size: 30px;
    color: #ffa600;
    text-align: center;
}

.contact-ect li a{
    font-size: 20px;
    color: #ffa600;
}

.contact-ect a{
    font-size: 20px;
    color: #ffc558;
}
}

@media only screen and (max-width: 898px){

    .Main{
        grid-column: 1 /  1;
        position: relative;
        width: 100%;
        height: 50vh;
        background: #0a1c2a;
    }
    
    .logo{
        width: 40%;
    }
     
    .detail{
        color: #ffa600;
        font-family: 'Roboto Slab', serif;
    }
    
    .detail h1{
        font-size: 50px;  
    }
    .detail h2{
        font-size: 30px;  
    }
    
    .detail p{
        color: #ffc558;
    }
    
    .mypic{
        opacity: 95%;
        bottom: 0;
        width: 60%;
        height: 90%;
    }
    
    .about{
        background: #a37726;
        padding-top: 60px;
    }
    
    .education{
        margin-left: 20%;
    }
    
    .about h3{
        font-size: 50px;
    }
    
    .about-text{
        grid-column: 1 / span;
        color: #0a1c2a;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 20%;
    }
    
    .container1{
        max-width: 95%;
        margin: 5 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .work-link{
        position: relative;
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .work-link {
        text-align: center;
        font-size: 30px;
    }
    
    .work-link h4{
        text-align: center;
        font-size: 5px;
    }
    
    .work-link img {
       grid-column: 1 / span 2;
    
    }
    
    .skills{
        font-family: 'Roboto Slab', serif;
        background: #0a1c2a;
        padding: 50px 0px;
        color: #ffa600;
    }
    
    .skills h5{
        font-size: 50px;
        text-align: center;
    }
    
    .box{
        margin-right: 1%;
        grid-column: 1 / span 2;
        padding-left: 10%;
        padding-top: 2%;
    }
    
    .assignment-link{
        font-family: 'Roboto Slab', serif;
        background: #a37726;
        padding: 50px 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .assignment-link h6{
        font-size: 40px;
        color: #0a1c2a;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link span{
        font-size: 40px;
        color: #232b31;
    }
    
    .assignment-link a{
        color: #311926;
    }
    
    .contact-ect{
        background: #0a1c2a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .contact-ect h7{
        font-size: 30px;
        color: #ffa600;
        text-align: center;
    }
    
    .contact-ect li a{
        font-size: 20px;
        color: #ffa600;
    }
    
    .contact-ect a{
        font-size: 20px;
        color: #ffc558;
    }
    }

    @media only screen and (max-width: 620px){

        .Main{
            position: relative;
            height: 80vh;
            background: #0a1c2a;
        }
        
        .logo{
            width: 50%;
        }
        
        .detail{
            color: #ffa600;
            font-family: 'Roboto Slab', serif;
        }
        
        .detail h1{
            font-size: 50px;  
        }
        .detail h2{
            font-size: 30px;  
        }
        
        .detail p{
            color: #ffc558;
        }
        
        .mypic{
            opacity: 65%;
            width: 60%;
            float: left;

        }
        
        .about{
            background: #a37726;
        }
        
        
        .education{
            width: 0%;
            height: 0%;
        }
        
        .about h3{
            font-size: 40px;
        }
        
        .about-text{
            text-align: center;
            color: #0a1c2a;
            font-family: 'Roboto Slab', serif;
            font-size: 10px;
        }
         
        .work-link{
            position: relative;
            font-family: 'Roboto Slab', serif;
            background: #0a1c2a;
            padding-top: 30px;
            color: #ffa600;
        }
        
        .work-link span {
            text-align: center;
            font-size: 20px;
        }
        
        .work-link h3{
            text-align: center;
            font-size: 40px;
        }
        
        .work-link img {
           grid-column: 1 / span 2;
        
        }
        
        .skills{
            font-family: 'Roboto Slab', serif;
            background: #0a1c2a;
            padding: 50px 0px;
            color: #ffa600;
        }
        
        .skills h5{
            font-size: 40px;
            text-align: center;
        }
        
        .box{
            margin-right: 2%;
            grid-column: 1 / span 1;
            padding-left: 29%;
            padding-top: 2%;
        }
        
        .assignment-link{
            font-family: 'Roboto Slab', serif;
            background: #a37726;
            padding: 50px 0px;
            font-size: 20px;
            text-align: center;
        }
        
        .assignment-link h6{
            font-size: 40px;
            color: #0a1c2a;
        }
        
        .assignment-link span{
            font-size: 40px;
            color: #232b31;
        }
        
        .assignment-link span{
            font-size: 40px;
            color: #232b31;
        }
        
        .assignment-link a{
            color: #311926;
        }
        
        .contact-ect{
            background: #0a1c2a;
            padding: 50px 0px;
            text-align: center;
        }
        
        .contact-ect h7{
            font-size: 30px;
            color: #ffa600;
            text-align: center;
        }
        
        .contact-ect li a{
            font-size: 20px;
            color: #ffa600;
        }
        
        .contact-ect a{
            font-size: 20px;
            color: #ffc558;
        }
        }
