body
{
   background-color: #1affb2;
   
}

#parent, #text1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    background-color:  #e6fff7;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

#Typebelow
{
    background-color: #1affb2;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.button1, .button2
{
  font-family: 'Courier New', Courier, monospace;
  background-color: #1affb2; 
  border-radius: 20%;
  border: solid #e6fff7;
  color: black;
  padding: 15px 32px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition-duration: 0.7s;
}

.button1, .button2 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }